<odoo>
  <menuitem id="menu_i8_volunteer_root" name="Volunteers" sequence="10" parent="base.menu_custom" groups="base.group_user"/>
  <menuitem id="menu_i8_volunteer_activities" name="Activities" parent="menu_i8_volunteer_root" action="action_volunteer_activities"/>
  <menuitem id="menu_i8_volunteer_shifts" name="Shifts" parent="menu_i8_volunteer_root" action="action_volunteer_shifts"/>
</odoo>
